@font-face {
    font-family: ehsmb;
    src: url(../../fonts/EHSMB.woff);
}

body {
    background: #000;
    font-family: ehsmb;
    color: #FFF;
}

a,
a:hover,
a:visited,
a:focus {
    color: #FFF;
    text-decoration: underline;
}

a.pa-no-decoration {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    display: inline-block;
}

header {
    padding: 45px 0;
}

header ul {
    float: right;
}

iframe {
    max-width: 100%;
}

footer {
    margin-top: 90px;
    text-align: center;
}

input[type="text"] {
    margin: 45px 0 15px 0;
    display: block;
    border-radius: 25px;
    border: none;
    color: #000;
    height: 3em;
    padding: 20px;
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    background: #FFF;
    border: none;
    color: #000;
    border-radius: 25px;
    padding: 15px;
    margin: 15px 0 45px 0;
    cursor: pointer;
}

input[type="submit"]:disabled {
    background: #DDD;
    color: #AAA;
    cursor: not-allowed;
}

.fas, 
.fab {
    font-size: 3em;
    margin-right: 1em;
    margin-top: 30px;
}

.pa-space-s {
    margin-top: 15px;
}

.pa-space-m {
    margin-top: 30px;
}

.pa-space-l {
    margin-top: 90px;
}

.pa-background {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.pa-background img {
    max-width: 100%;
}

@media (max-width: 768px) {
    nav {
      display: none;
    }
    
    .fas, 
    .fab {
        font-size: 2em;
        margin-right: 1em;
        margin-bottom: 45px;
    }  
}
